.button-nav{
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    font-size: 20px;
    background: #FB2393;
    color: white;
    white-space: nowrap;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    font-style: italic;
    top: 10px;
}
.button-side{
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    font-size: 20px;
    background: #FB2393;
    color: white;
    white-space: nowrap;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    font-style: italic;
    top: 10px;
}


@media screen and (max-width:868px){
    

    .button-nav{
        display: none;
    }
}
