.sidebar-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, 0.8);
    z-index: 200;
}

.sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    padding: 0px 50px;
    background: #FB2393;
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(248, 243, 243, 0.35) 0px 5px 15px;
}

.moblinks{
    position: relative;
    font-size: 28px;
    padding: 50px;
    white-space: nowrap;
    color: white;
    transition: all 0.2s ease-in-out;
}


.moblinks:hover{
    transform: scale(1.1);
}


.mob-arrow{
    position: absolute;
    top: 10px;
    right: 0;
    width: 80px;
    height: 80px;
    color: white;
    padding: 70px;
    cursor: pointer;
    transform: translateY(-70px);
}
