.container-hero{
    position: relative;
    width: 100%;
    height: 800px;
    z-index: -1;
    top: 12.5rem;
    overflow: hidden;
}


.container-hero .box-hero{
    position: absolute;
    display: flex;
    width: 100%;
    height: 800px;
    padding: 20px;
    align-items: center;
    overflow: hidden;
}

.container-hero .box-hero .picture{
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    overflow: hidden;
    left: 0;
}
.picture img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 20px;
}


.container-hero .box-hero .content-hero{
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    overflow: hidden;
    right: 0;
    padding: 20px;
}

.content-hero p {
    font-size: 2rem;
    padding: 30px;
    line-height: 50px;
    width: 15rem;
    margin: 5rem;
}
.content-hero h2 {
    font-size: 5rem;
    padding: 3rem;
    width: max-content;
    border-bottom: 5px solid #FB2393;
    margin: 5rem;
}