:root{
    --color-text: black;
    --color-background: white;
    --color-primary: #FB2393;
    --height-nav-container:200px;
    --width-nav-container:100%;
  }

.nav-container{
    position: fixed;
    display: flex;
    background:var(--color-primary);
    width: var(--width-nav-container);
    height: var(--height-nav-container);
    align-items: center;
    justify-content: center;
    top: 0;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    z-index: 50;
}

.navbar{
    display: flex;
    padding: 20px;
}

.navlinks{
    text-decoration: none;
    font-style: italic;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.logo-nav{
    position: absolute;
    width: 200px;
    height: 100px;
    left: 0;
    top: 40px;
}

.mobile-bar{
    position: absolute;
    display: none;
    width: 80px;
    height: 80px;
    right: 0;
    padding: 0px 40px 0px 0px;
    cursor: pointer;
    top: 70px;
    z-index: 100;
}


@media screen and (max-width:868px){
    
    .mobile-bar{
        display: flex;
    }
    .navlinks{
        display: none;
    }
}

